body {
    font-family: Arial, sans-serif;
    padding: 5px;
    background-image: url('/static/image/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.sintonia-container {
  max-width: 300px;
  margin: 20px auto;
  padding: 45px;
  background-color: #73177B;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.sintonia-header h2 {
  color: #fff;
  margin: 0;
}

.sintonia-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 35px;
  margin-left: -25px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.btn {
  background-color: #423C3C;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 18px;
  cursor: pointer;

}

.btn:hover {
  background-color: #6b6666;
}

.player-sintonia {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.player-sintonia h3 {
  margin-top: 0;
}

.player-info {
  margin-top: 20px;
}

.player-info p {
  margin-bottom: 10px;
}

#nome-display, #link-youtube-display, #genero-display {
  font-weight: bold;
}

.imagem-logo-btn{
  margin-top: -85px;
  flex-direction: column;
}

h2{
  color: white;
  text-align: center;
}

label{
  color: white;
}

.esp-button{
  display: flex;
  gap: 120px;
  margin-top: 50px;
}

.esp-btn{
  margin-left: 15px;
}

.voltar{
  background-color: #A389F6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  color: #423C3C;
}

.btn1:hover {
  background-color: #8c71d9;
}

img{
  cursor: pointer;
}