<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../static/Cadastro.css">
</head>
<body>
    <div class="card-cadastro">
        <img class="foto-cadastro" src="../static/image/womanCadaster.png" alt="Imagem de Cadastro">
        <div class="div-login">
            <div class="imagemUsuario">
                <img src="../static/image/user.png" alt="Ícone de Usuário">
            </div>
            <h1 class="titulo-login">CRIAR CONTA</h1>
            <form class="formField">
                <input required="" type="text" />
                <span>Nome</span>
            </form>
            <form class="formField">
                <input required="" type="email" />
                <span>Email</span>
            </form>
            <form class="formField">
                <input required="" type="text" />
                <span>Data de nascimento</span>
            </form>
            <form class="formField">
                <input required="" type="password" />
                <span>Senha</span>
            </form>
            <form class="formField">
                <input required="" type="password" />
                <span>Confirmar Senha</span>
            </form>
            <button type="submit" class="animated-button">
                <div class="circle"></div>
                <span class="text">Criar Conta</span>
                <svg class="arr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M7 10l5 5 5-5z"/>
                    <path fill="none" d="M0 0h24v24H0z"/>
                </svg>
                <svg class="arr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M7 10l5 5 5-5z"/>
                    <path fill="none" d="M0 0h24v24H0z"/>
                </svg>
            </button>

            <a> <p>Já possui uma conta? <a class="text-login" href="/login"><strong>Fazer Login</strong></a> </p>
        </div>


    </div>
</body>
</html>
