<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Dentro da playlist</title>
    <link rel="stylesheet" href="../static/dentro.css">
</head>
<body class="tudo">

    <header>
        <div class="logo">
            <figure>
                <img src="../static/image/logo.png">
            </figure>
        </div>
    </header>
    <div class="organizar">
        <div><button class="org">Player
        </button></div>

        <div><button class="add">Voltar
        </button></div>

        <div><button class="adc">Adicionar
        </button></div>

    </div>

        <div class="container">


                <div class="box">
                    <div class="todos">
                        <p class="texto">PLAYLIST: EMBRASAR</p>

                        <section class="branco">
                            <div class="midias">
                                <button class="voltar"> <img src="/static/image/voltar.png"></button>
                                <button class="play"> <img src="/static/image/playbtn.png"></button>
                                <button class="proxima"> <img src="/static/image/proxima.png"></button>
                            </div>
                            <div class="alinharbtn">

                                <button class="btn">
                                    <img class="botoes" src="/static/image/eeee.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <div class="midias">
                                <button class="voltar"> <img src="/static/image/voltar.png"></button>
                                <button class="play"> <img src="/static/image/playbtn.png"></button>
                                <button class="proxima"> <img src="/static/image/proxima.png"></button>
                            </div>
                            <div class="alinharbtn">
                                <button class="btn">
                                    <img class="botoes" src="/static/image/eeee.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <div class="midias">
                                <button class="voltar"> <img src="/static/image/voltar.png"></button>
                                <button class="play"> <img src="/static/image/playbtn.png"></button>
                                <button class="proxima"> <img src="/static/image/proxima.png"></button>
                            </div>
                            <div class="alinharbtn">

                                <button class="btn">
                                    <img class="botoes" src="/static/image/eeee.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <div class="midias">
                                <button class="voltar"> <img src="/static/image/voltar.png"></button>
                                <button class="play"> <img src="/static/image/playbtn.png"></button>
                                <button class="proxima"> <img src="/static/image/proxima.png"></button>
                            </div>
                            <div class="alinharbtn">

                                <button class="btn">
                                    <img class="botoes" src="/static/image/eeee.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <div class="midias">
                                <button class="voltar"> <img src="/static/image/voltar.png"></button>
                                <button class="play"> <img src="/static/image/playbtn.png"></button>
                                <button class="proxima"> <img src="/static/image/proxima.png"></button>
                            </div>
                            <div class="alinharbtn">

                                <button class="btn">
                                    <img class="botoes" src="/static/image/eeee.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <div class="midias">
                                <button class="voltar"> <img src="/static/image/voltar.png"></button>
                                <button class="play"> <img src="/static/image/playbtn.png"></button>
                                <button class="proxima"> <img src="/static/image/proxima.png"></button>
                            </div>
                            <div class="alinharbtn">

                                <button class="btn">
                                    <img class="botoes" src="/static/image/eeee.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <div class="midias">
                                <button class="voltar"> <img src="/static/image/voltar.png"></button>
                                <button class="play"> <img src="/static/image/playbtn.png"></button>
                                <button class="proxima"> <img src="/static/image/proxima.png"></button>
                            </div>
                            <div class="alinharbtn">

                                <button class="btn">
                                    <img class="botoes" src="/static/image/eeee.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <div class="midias">
                                <button class="voltar"> <img src="/static/image/voltar.png"></button>
                                <button class="play"> <img src="/static/image/playbtn.png"></button>
                                <button class="proxima"> <img src="/static/image/proxima.png"></button>
                            </div>
                            <div class="alinharbtn">

                                <button class="btn">
                                    <img class="botoes" src="/static/image/eeee.png">
                                </button>
                            </div>
                        </section>
                    </div>
                </div>
        </div>
</body>
</html>