<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar playlist</title>

    <link rel="stylesheet" href="../static/estiloeditar.css">
</head>
<body>
    <div class="imagem-logo">
        <img src="/static/image/logo.png" alt="Logo">
    </div>
    <div class="esp-btn">
        <button type="submit" class="btn1 voltar">VOLTAR</button>
    </div>
    <div class="sintonia-container">
      <div>
        <h2>EDITAR MINHA PLAYLIST</h2>
      </div>
      <form class="sintonia-form">
        <div class="form-group">
          <label for="nome">Novo nome:</label>
          <input type="text" id="nome" name="nome" class="form-control">
        </div>
        <div class="form-group">
          <label for="link-youtube">Editar gênero:</label>
          <input type="text" id="link-youtube" name="link-youtube" class="form-control">
        </div>
          <div class="esp-button">
              //tirar o submit do player, trocar por onclick
              <button type="submit" class="btn btn-primary">SALVAR</button>
              <button type="submit" class="btn btn-primary">PLAYER</button>
          </div>

      </form>

    </div>
</body>
</html>