<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sintonia Corporation</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/Home.css">
    <link rel="stylesheet" href="../static/Loader.css">
</head>
<body>
    <header>
     <div class="loader" id="loader"></div>
<a href="/cadastro">
    <h1 class="textoHeader">Cadastro</h1>
</a>

<a href="/login">
    <h1 class="textoHeader">Login</h1>
</a>

        <img src="../static/image/logo.png" alt="Sintonia Corporation logo">

<a href="/criarplaylist">
    <h1 class="textoHeader">Playlists</h1>
</a>

<a href="/player">
    <h1 class="textoHeader">Player</h1>
</a>

    </header>
    <main>
        <section class="cta">
            <h2 class="textoBody">A missão da Sintonia Corporation é proporcionar uma boa experiência musical, conectando paixão pela música e tecnologia. Nosso compromisso é oferecer uma plataforma de streaming inovadora, completa e de ótima qualidade sonora, com possibilidade de realizar downloads de músicas.</h2>
        </section>
        <section class="download">
            <h2 class="textoBody">DOWNLOAD</h2>
            //colocar form
            <input class="inputDow" type="text" placeholder="Cole seu link aqui...">
            <button class="download-btn">Converter MP3</button>
        </section>
        <p class="tetxo2">Realize o Cadastro ou efetue o Login para melhor experiência ao ouvir suas músicas.</p>
    </main>
<footer>
    <p class="texto-footer">Descubra a harmonia perfeita entre inovação e tradição na Sintonia Corporation, sua porta de entrada para o mundo da música!</p>
</footer>
</body>
<script src="../static/test.js"></script>

</html>
