<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/Login.css">
</head>
<body>
    <div class="card-cadastro">
        <img class="foto-cadastro" src="../static/image/womanLogin.png" alt="Imagem de Cadastro">
        <div class="div-login">
            <div class="imagemUsuario">
                <img src="../static/image/logo.png" alt="Ícone de Usuário">
            </div>
            <h1 class="titulo-login">LOGAR CONTA</h1>
            <form class="formField">
                <input required="" type="text" />
                <span>Email</span>
            </form>
            <form class="formField">
                <input required="" type="text" />
                <span>Senha</span>
            </form>
            <button class="animated-button">
                <div class="circle"></div>
                <span class="text">Login</span>
                <svg class="arr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M7 10l5 5 5-5z"/>
                    <path fill="none" d="M0 0h24v24H0z"/>
                </svg>
                <svg class="arr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M7 10l5 5 5-5z"/>
                    <path fill="none" d="M0 0h24v24H0z"/>
                </svg>
            </button>
            <p>Já possui um cadastro? <a class="text-login" href="/cadastro"><strong>Fazer Cadastro</strong></a> </p>
        </div>

    </div>
</body>
</html>