<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Playlist</title>
    <link rel="stylesheet" href="../static/playlist.css">
</head>
<body>

    <div class="logo">
        <img src="../static/image/logo.png">
       <a> <button class="btn-p example-item" onclick='window.location.href="/criarplaylist"' >Player</button></a>
    </div>

    <div class="container">
        <div>
            <div class="todos">

                        <section class="branco">
                            <h1 class="tituloPlaylist">1 - EMBRASARR</h1>
                            <div class="alinharbtn">
                                <button class="btn-e">Editar</button>
                                <button class="btn">
                                    <img class="botoes" src="/static/image/excluir.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <h1 class="tituloPlaylist">2 - EMBRASARR</h1>
                            <div class="alinharbtn">
                                <button class="btn-e">Editar</button>
                                <button class="btn">
                                    <img class="botoes" src="/static/image/excluir.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <h1 class="tituloPlaylist">3 - EMBRASARR</h1>
                            <div class="alinharbtn">
                                <button class="btn-e">Editar</button>
                                <button class="btn">
                                    <img class="botoes" src="/static/image/excluir.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <h1 class="tituloPlaylist">4 - EMBRASARR</h1>
                            <div class="alinharbtn">
                                <button class="btn-e">Editar</button>
                                <button class="btn">
                                    <img class="botoes" src="/static/image/excluir.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <h1 class="tituloPlaylist">5 - EMBRASARR</h1>
                            <div class="alinharbtn">
                                <button class="btn-e">Editar</button>
                                <button class="btn">
                                    <img class="botoes" src="/static/image/excluir.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <h1 class="tituloPlaylist">6 - EMBRASARR</h1>
                            <div class="alinharbtn">
                                <button class="btn-e">Editar</button>
                                <button class="btn">
                                    <img class="botoes" src="/static/image/excluir.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <h1 class="tituloPlaylist">7 - EMBRASARR</h1>
                            <div class="alinharbtn">
                                <button class="btn-e">Editar</button>
                                <button class="btn">
                                    <img class="botoes" src="/static/image/excluir.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <h1 class="tituloPlaylist">8 - EMBRASARR</h1>
                            <div class="alinharbtn">
                                <button class="btn-e">Editar</button>
                                <button class="btn">
                                    <img class="botoes" src="/static/image/excluir.png">
                                </button>
                            </div>
                        </section>
                        <section class="branco">
                            <h1 class="tituloPlaylist">9 - EMBRASARR</h1>
                            <div class="alinharbtn">
                                <button class="btn-e">Editar</button>
                                <button class="btn">
                                    <img class="botoes" src="/static/image/excluir.png">
                                </button>
                            </div>
                        </section>
            </div>
        </div>
    </div>
</body>
</html>